.section{
    width:350px ;
    height:220px   ;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: 2px red dashed;
    background-color: green;

}
ul{
    list-style: none;
}